/* nav ul {
    padding-left: 50%;
    padding-right: 50%;
    border: 10px;
    border-color: black;
    border-width: 3px;
    border-radius: 10px;
    margin: 20%;
    display: flex;
    list-style-type: none;
    
} */
/* nav{
    display: block;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: -100vw;
    z-index: 9999;
    padding: .5em 1em .5em 1em;;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background: red;
    transition: all 1s; } */
body{
    display: flex;
}